<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Officer Login Page </title>
  <link rel="stylesheet" href="./OfficerLogin.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="bg"></div>

<form>
  Email<div class="form-field">
    <input type="email" placeholder="Enter your email" required/>
  </div>
  
 password: <div class="form-field">
    <input type="password" placeholder="Enter your Password" required/>                         </div>
  
  <div class="form-field">
    <button class="btn" type="submit">Log in</button>
  </div>
  <p class="message">Forgot password? <a href="#">HERE</a></p>
</form>
<!-- partial -->
  
</body>
</html>
